# SF Salaries Exercise 

In this exercise, we will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!Questions are highlighted in bold.

___

1. **Import pandas as pd.**

In [1]:
import pandas as pd

2. **Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv')

3. **Check the head of the DataFrame.**

In [3]:
sal.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

4. **Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

5. **What is the average BasePay ?**

In [5]:
sal['BasePay'].mean()

66325.44884050643

6. **What is the highest amount of OvertimePay in the dataset ?**

In [6]:
sal['OvertimePay'].max()

245131.88

7. **What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [10]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

8. **How much does JOSEPH DRISCOLL make (including benefits)?**

In [11]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

9. **What is the name of highest paid person (including benefits)?**

In [13]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

*__or__*

In [16]:
sal.loc[sal['TotalPayBenefits'].idxmax]['EmployeeName']

'NATHANIEL FORD'

*__or__*

In [18]:
sal.iloc[sal['TotalPayBenefits'].argmax]['EmployeeName']

C:\Users\VarunCK\Anaconda3\lib\site-packages\pandas\core\common.py:408: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  return maybe_callable(obj, **kwargs)

'NATHANIEL FORD'

10. **What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [19]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

*__or__*

In [20]:
sal.loc[sal['TotalPayBenefits'].idxmin]['EmployeeName']

'Joe Lopez'

*__or__*

In [21]:
sal.iloc[sal['TotalPayBenefits'].argmin]['EmployeeName']

C:\Users\VarunCK\Anaconda3\lib\site-packages\pandas\core\common.py:408: FutureWarning: 'argmin' is deprecated, use 'idxmin' instead. The behavior of 'argmin'
will be corrected to return the positional minimum in the future.
Use 'series.values.argmin' to get the position of the minimum now.
  return maybe_callable(obj, **kwargs)

'Joe Lopez'

11. **What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [22]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

12. **How many unique job titles are there?**

In [23]:
sal['JobTitle'].nunique()

2159

13. **What are the top 5 most common jobs?**

In [25]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

14. **How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [26]:
sal2 = sal[sal['Year'] == 2013]

In [28]:
valueCount = sal2['JobTitle'].value_counts()

In [29]:
valueCount[valueCount == 1].count()

202

*__or__*

In [30]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

15. **How many people have the word Chief in their job title? (This is pretty tricky)**

In [31]:
def find_chief(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [34]:
sal.iloc[0]['JobTitle']

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

In [35]:
find_chief('GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY')

False

In [36]:
sal['JobTitle'].apply(lambda x: find_chief(x))

0         False
1         False
2         False
3         False
4          True
5          True
6         False
7         False
8         False
9          True
10         True
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25         True
26        False
27        False
28         True
29         True
          ...
148624    False
148625    False
148626    False
148627    False
148628    False
148629    False
148630    False
148631    False
148632    False
148633    False
148634    False
148635    False
148636    False
148637    False
148638    False
148639    False
148640    False
148641    False
148642    False
148643    False
148644    False
148645    False
148646    False
148647    False
148648    False
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [37]:
sum(sal['JobTitle'].apply(lambda x: find_chief(x)))

477

16. **Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [38]:
sal['Job_Title_Length'] = sal['JobTitle'].apply(len)

In [39]:
sal[['Job_Title_Length','TotalPayBenefits']].corr()

                  Job_Title_Length  TotalPayBenefits
Job_Title_Length          1.000000         -0.036878
TotalPayBenefits         -0.036878          1.000000

From above result, there is no correlation between length of the Job Title string and Salary

## Thank You!