# Ecommerce Purchases Exercise

In this Exercise we will be given some Fake Data about some purchases done through Amazon! For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
1. **Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.**

In [2]:
import pandas as pd
ecom = pd.read_csv('Ecommerce Purchases')

2. **Check the head of the DataFrame.**

In [3]:
ecom.head(4)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04

3. **How many rows and columns are there?**

In [4]:
len(ecom.index)

10000

In [5]:
len(ecom.columns)

14

Or

In [6]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

4. **What is the average Purchase Price?**

In [7]:
ecom['Purchase Price'].mean()

50.34730200000025

5. **What were the highest and lowest purchase prices?**

In [8]:
ecom['Purchase Price'].max()

99.99

In [9]:
ecom['Purchase Price'].min()

0.0

6. **How many people have English 'en' as their Language of choice on the website?**

In [11]:
len(ecom[ecom['Language'] == 'en'].index)

1098

7. **How many people have the job title of "Lawyer" ?**

In [13]:
len(ecom[ecom['Job'] == 'Lawyer'].index)

30

8. **How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )**

In [14]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

Or

In [15]:
ecom.groupby('AM or PM').count()

,Address,Lot,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
AM or PM,,,,,,,,,,,,,
AM,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932
PM,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068

9. **What are the 5 most common Job Titles?**

In [16]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

10. **Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [17]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

11. **What is the email of the person with the following Credit Card Number: 4926535242672853**

In [18]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

12. **How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [20]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

13. **Hard: How many people have a credit card that expires in 2025?**

In [21]:
def to_year(date):
    if str(date).split('/')[1] == '25':
        return True
    else:
        return False

In [22]:
to_year('02/24')

False

In [23]:
ecom[ecom['CC Exp Date'].apply(lambda x: to_year(x))]['CC Exp Date'].count()

1033

Or

In [24]:
ecom[ecom['CC Exp Date'].apply(lambda x: x[3:] == '25')]['CC Exp Date'].count()

1033

Or

In [26]:
sum(ecom['CC Exp Date'].apply(lambda x: x[3:] == '25'))

1033

14. **Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

In [27]:
def email_provider(email):
    return email.split('@')[1]

In [28]:
email_provider('amymiller@morales-harrison.com')

'morales-harrison.com'

In [29]:
ecom['Email'].apply(lambda x: email_provider(x)).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

Or

In [30]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

___

## Thank You!